@font-face {
    font-family: 'MSYHL';
    src: url('../fonts/Microsoft-Yahei-UI-Light.ttc');
}
body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input,button,header,strong,article,nav,main,footer,figure,figcaption{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
img{
    border:none;
}
ul,li{
    list-style-type: none;
}

select option{
    line-height: 30px;
    background: rgba(0,0,0,.6);
    color: #fff;
}
input,button{
    border:none;
}
button:hover{
    cursor: pointer;
}
*{
    font-family: "微软雅黑";
}
*:focus{
    outline: none;
}
::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator {
    border: none;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.8);
}
.input-text::-webkit-input-placeholder { color:rgba(255,255,255,0.4); }

input[type=date]{
    line-height: normal;
}
h2{
    font-size: 16px;
    color: #fff;
    padding-bottom: 12px;
    margin-bottom: 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

h3{
    padding: 5px 0px;
    padding-left: 30px;
    margin: 10px 0px;
    font-weight: lighter;
    font-size: 14px;
    background: rgba(0,0,0,.05);
}

/*波浪按钮*/
.btn{
    font-size: 12px;
    min-width: 80px;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}
.btn:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
}
.ripple{position:relative;overflow:hidden}
.ripple:after{content:"";background:rgba(255,255,255,0.3);display:block;position:absolute;border-radius:50%;padding-top:240%;padding-left:240%;margin-top:-120%;margin-left:-120%;opacity:0;transition:all 1s}
.ripple:active:after{padding-top:0;padding-left:0;margin-top:0;margin-left:0;opacity:1;transition:0s}

/*搜索框*/
.search {
    position: relative;
    width: 250px;
    display: flex;
    justify-content: flex-end;
}
.search input {
    width: 90%;
    padding: 7px;
    padding-left:20px;
    border-radius: 42px;
    border: 1px solid #eee;
    font-size: 12px;
    transition: .3s linear;
}
.search input:focus {
    width: 100%;
}
.search button {
    position: absolute;
    top:0px;
    bottom:0px;
    right: 10px;
    margin: auto;
    background: none;
}
.search button:before{
    content: "\e752";
    font-family: "iconfont" !important;
    color: #324b4e;
}

/*边框发光*/
.border-light li,.border-light li>p{
    position: relative;
    cursor: pointer;
}

.border-light>li>p:after{
    content:'';
    display: block;
    position: absolute;
    background: rgba(3,155,299,0);
    box-shadow: 0 0 10px rgba(3,155,299,0);
    transition:all 0.3s ease;
}

.border-light-bottom li:after{
    bottom: 0px;
    width: 100%;
    height:2px;
}
.border-light-bottom li.active:after,.border-light-bottom li:hover:after{
    background: #039BE5;
    box-shadow: 0 0 10px rgba(3,155,299,0.5);
}
.border-light-bottom li.active{
    font-weight: bold;
}
.border-light-bottom li.active p:before{
    color: #039BE5;
}

.border-light-right li>p:after{
    left: 0px;
    top:0px ;
    width: 2px;
    height:100%;
}
.border-light-right li.active p:after,.border-light-right li:hover p:after{
    background: #44B4EE;
    box-shadow: 0 0 10px rgba(3,155,299,0.5);
}
.border-light-right li.active{
    font-weight: bold;
}
.border-light-right li.active p:before{
    color: #4AB7F9;
}

/*input text*/
.input-text{
    margin: 0px;
    padding:6px 10px;
    border: none;
    font-size: 14px;
    color: #fff;
    background: rgba(255,255,255,0.3);
    border-radius: 3px;
}

/*lamp*/
.lamp-list{
    display: flex;
    margin-left:7px;
}

.lamp-list li{
    width:7px;
    height:7px;
    margin-right:3px;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
}

.lamp-list li.green{
    background: #4A9C8A;
    box-shadow: 0 0 10px rgba(74,156,137,0.2);
}

.lamp-list li.blue{
    background: #658EB8;
    box-shadow: 0 0 10px rgba(101,142,184,0.2);
}



/* form */
input{
    outline:none;
    box-shadow: none;
}

.form-tab{
    position: relative;
    background: hsla(0,0%,100%,.3);
    overflow: hidden;
    margin: 50px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 15px;
}

.form-tab:before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: -40px;
    filter:blur(20px);
    background: url("../images/content_bg.png") 0 / cover fixed;
    opacity:1;
}

.form-tab>h2{
    position: relative;
    z-index:1;
}

.form-tab>div{
    position: relative;
    z-index: 1;
}

.form-tab .content{
    display: flex;
    flex-wrap: wrap;
}

.form-tab .content>section{
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 30px);
}

.form-tab .content>section:first-child{
    margin-right:60px;
}

.form-btn{
    text-align: right;
    padding-right:30px;
    width: 100%;
}

.form-btn a:first-child{
    margin-right:20px;
}

.form-tab .content>section div{
    margin-bottom:20px;
}

.form-tab .content>section div{
    width: 50%;
    padding-right:30px;
}

.form-tab .content>section div:last-child p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-search-content>section div:last-child p>i{
    display: block;
    width: 35px;
    height:1px;
    margin: 0px 10px;
    background: #fff;
}

.form-tab .content>section input{
    width: 100%;
}

.form-tab .content>section div>label{
    display: block;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 5px;
}

.form-tab .content>section div.form-tab-row{
    width: 100%;
}

.form-tab-row ul{
    margin:9px 0px;
    display: flex;
    color: #fff;
}

.form-tab .content>section div.form-tab-row ul li{
    margin-right:36px;
    display: flex;
    align-items: center;
}

.form-tab .content>section div.form-tab-row ul li input{
    margin-right:5px;
    margin-top: 0px;
    width: auto;
    background: rgba(255,255,255,0.3);
}

.border-bottom-input{
    width: 10px;
    text-align: center;
    background: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* switch */
.container{
    width: 73px;
    margin: 0px;
}
.switch{
    display:none;
}
.container label{
    position:relative;
    display: block;
    padding: 1px;
    border-radius: 24px;
    height: 24px;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    vertical-align: top;
    -webkit-user-select: none;
}
.container label:before{
    content: '';
    display: block;
    border-radius: 24px;
    height: 22px;
    background-color: rgba(255,255,255,.4);
    -webkit-transform: scale(1, 1);
    -webkit-transition: all 0.3s ease;
}
.container label:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background-color: rgba(255,255,255,1);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
    -webkit-transform: translateX(-9px);
    -webkit-transition: all 0.3s ease;
}
.switch:checked~label:after{
    -webkit-transform: translateX(9px);
}

.switch:checked~label:before{
    background-color:rgba(255,255,255,.1);
}


/* new */
.icon-new{
    position: relative;
}
.icon-new:before{
    position: absolute;
    top:0px;
    left:0px;
    margin-top:-9px;
    font-size: 36px;
    color: rgb(74, 156, 138);
}


/* svg */
.force{
    font-size: 30px;
}
